.header-container {
  padding-top: 70px;
}
.header {
  background: url('/assets/images/nuestros-servicios.png');
  background-size: cover;
  height: 500px;
}

.container-data {
  padding-top: 20px;
  padding-bottom: 20px;
}

.consider {
  b {
    text-decoration: underline !important;
  }
  .subtitle {
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .header {
    background: url('/assets/images/nuestros-servicios-mobile.png');
  }
}
