<div class="d-flex justify-content-center mt-3 header pointer" routerLink="/"></div>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-evenly header-link">
      <p class="text-center pointer" (click)="scroll(proceedings)">Actas</p>
      <p class="text-center pointer" (click)="scroll(file)">Carpeta</p>
      <p class="text-center pointer" (click)="scroll(accompaniment)">Acompañamiento</p>
      <p class="text-center pointer" (click)="scroll(guide)">Te Guiamos</p>
      <p class="text-center pointer" (click)="scroll(advisory)">Asesoría</p>
      <p class="text-center pointer" (click)="scroll(apostille)">Apostillado</p>
      <p class="text-center pointer" (click)="scroll(proceedings)">Expediente</p>
      <p class="text-center pointer" (click)="scroll(control)">Control carpeta</p>
    </div>
    <hr />
    <div class="col-12 container-data" #proceedings id="proceedings">
      <p class="title">BÚSQUEDA DE ACTAS</p>
      <p class="subtitle">
        Nos encargamos de contactar al comune, enviar emails PEC y sobres prefranqueados, según los requisitos de cada oficina, para obtener las actas
        de nacimiento, matrimonio y defunción italianas que necesites.
      </p>
      <p class="subtitle">
        Si dispones de todos los datos necesarios para la búsqueda (nombres y apellidos completos, fecha exacta y lugar del acontecimiento), no
        necesitas pagar nada por adelantado. Solo abonas cuando te enviamos el acta a tu domicilio.
      </p>
      <p class="subtitle">
        Si solo contas con una fecha estimada (rango menor a 3 años), consultanos por nuestro servicio de investigación para ver cómo podemos
        ayudarte.
      </p>
    </div>
    <div class="col-12 container-data background-light" #file id="file">
      <p class="title">ARMADO DE CARPETA</p>
      <p class="subtitle">
        ¿Buscas obtener el reconocimiento de tu ciudadanía italiana de manera eficiente y sin complicaciones? Nuestro servicio de armado de carpeta
        completa es la solución perfecta para vos.
      </p>
      <p class="subtitle">
        Nos encargamos de estudiar y evaluar exhaustivamente toda la documentación e información inicial que tengas sobre tu árbol genealógico para
        determinar si cumples con los requisitos del consulado para obtener el reconocimiento de la ciudadanía italiana.
      </p>
      <p class="subtitle">
        Con esta información, sabremos tu punto de partida y podremos asegurarnos de que tu carpeta y solicitud cumplan con todos los requisitos. Te
        entregamos la carpeta lista para ser presentada tanto en Argentina como en Italia.
      </p>
      <p class="subtitle">Profesionalismo y Experiencia</p>
      <p class="subtitle">
        Contamos con un equipo de expertos en ciudadanía italiana, con más de tres años de experiencia en el armado de carpetas. Nos aseguramos de que
        tu solicitud cumpla con todos los requisitos.
      </p>
      <p class="subtitle">Ahorro de Tiempo y Esfuerzo</p>
      <p class="subtitle">
        Nos encargamos de todos los aspectos complejos y burocráticos del proceso, asegurando un trámite claro y eficiente, permitiéndote concentrarte
        en otras cosas importantes.
      </p>
      <p class="subtitle">¿Qué incluye nuestro servicio?</p>
      <ul>
        <li>Videollamadas</li>
        <li>Evaluación Exhaustiva de Documentación</li>
        <li>Guía Personalizada</li>
        <li>Solicitud de Actas en los Registros Civiles Argentinos</li>
        <li>Solicitud de Actas al Comune Italiano</li>
        <li>Legalizaciones de Documentos</li>
        <li>Traducciones Certificadas</li>
        <li>Apostillas de la Haya</li>
        <li>Presupuesto Personalizado según la Complejidad del Caso</li>
      </ul>
      <p class="subtitle">
        Tene en cuenta que para poder iniciar con este servicio, necesitas contar con información de tu árbol familiar. Datos necesarios del tipo:
        Lugares, nombres completos y fechas de acontecimientos como nacimientos, matrimonios y defunciones.
      </p>
      <p class="subtitle">
        Para la solicitud de la ciudadanía italiana solo se necesitan los datos y documentos, desde el AVO (primera persona nacida en Italia, que
        emigró y tuvo sus descendientes en Argentina) hasta vos. SOLO EN LÍNEA RECTA. (Abuelos o Abuelas /Padres o madres / Hijos - hijas). No son
        imprescindibles datos de cónyuges, tíos, primos.
      </p>
    </div>
    <div class="col-12 container-data" #accompaniment id="accompaniment">
      <p class="title">ACOMPAÑAMIENTO EN ITALIA</p>
      <p class="subtitle">
        Aunque el trámite de reconocimiento de la ciudadanía es personal y podés hacerlo por tu cuenta, entendemos que el proceso de emigrar puede ser
        abrumador, y la ansiedad de la espera puede jugarte una mala pasada.
      </p>
      <p class="subtitle">
        Ya sea porque no conocés los pasos a seguir, no hablás el idioma, o simplemente querés vivir esta experiencia de manera relajada y sin
        preocuparte por nada, nuestro servicio es ideal para vos.
      </p>
      <p class="subtitle">
        Ofrecemos diferentes tipos de acompañamiento en Torino, para que puedas realizar tu reconocimiento sin sobresaltos y sintiéndote cómodo y
        asistido durante este recorrido.
      </p>
      <p class="subtitle">¡No dejes que el miedo te paralice!</p>
      <p class="subtitle">
        Nosotros también pasamos por lo mismo alguna vez, y sabemos lo importante que es sentirse acompañado y rodeado de personas honestas,
        confiables y buena onda, durante este proceso.
      </p>
      <p class="subtitle">Tu sueño de ser ciudadano italiano y tener pasaporte europeo en mano, es mucho más accesible de lo que pensas</p>
    </div>
    <div class="col-12 container-data background-light" #guide id="guide">
      <p class="title">ARMÁ TU CARPETA VOS MISMO, NOSOTROS TE GUIAMOS</p>
      <p class="subtitle">
        Nuestro servicio "Guía Passo dopo Passo" está diseñado para ayudarte a preparar tu carpeta vos mismo para la presentación, proporcionándote
        orientación y apoyo en cada paso del proceso.
      </p>
      <p class="subtitle">
        Te acompañamos de manera virtual a través de WhatsApp, emails y videollamadas, ofreciéndote instrucciones claras y detalladas para cada etapa
        del proceso burocrático relacionado con el armado de tu expediente familiar, desde la solicitud y obtención de documentos hasta la
        presentación final.
      </p>
      <p class="subtitle">Autonomía Guiada</p>
      <p class="subtitle">Aprende a gestionar tu propia solicitud con la seguridad de contar con la guía de un experto a tu lado.</p>
      <p class="subtitle">Ahorro de Dinero y Tiempo</p>
      <p class="subtitle">Evita errores costosos y demoras gracias a nuestra orientación y acompañamiento.</p>
      <p class="subtitle">¿Qué incluye nuestro servicio?</p>
      <ul>
        <li>Control de Documentación</li>
        <li>Guía para Solicitar Actas en el Registro Civil</li>
        <li>Guía para Obtener el Certificado de No Naturalización (CNN) del AVO</li>
        <li>Guía para Apostillar Documentos</li>
        <li>Precio Preferencial en Traducciones</li>
        <li>Solicitud del Acta de Nacimiento del AVO por Nosotros</li>
      </ul>
      <p class="subtitle">
        Tene en cuenta que para poder iniciar con este servicio, necesitas contar con información de tu árbol familiar. Datos necesarios del tipo:
        Lugares, nombres completos y fechas de acontecimientos como nacimientos, matrimonios y defunciones.
      </p>
      <p class="subtitle">
        Para la solicitud de la ciudadanía italiana solo se necesitan los datos y documentos, desde el AVO (primera persona nacida en Italia, que
        emigró y tuvo sus descendientes en Argentina) hasta vos. SOLO EN LÍNEA RECTA. (Abuelos o Abuelas /Padres o madres / Hijos - hijas). No son
        imprescindibles datos de cónyuges, tíos, primos.
      </p>
    </div>
    <div class="col-12 container-data" #advisory id="advisory">
      <p class="title">ASESORÍA PERSONALIZADA</p>
      <p class="subtitle">¿No sabes por dónde empezar y necesitas orientación? Tenemos la solución para que puedas acomodar tus ideas.</p>
      <p class="subtitle">Asesoría Personalizada</p>
      <p class="subtitle">
        Ofrecemos una videollamada (Full o Smart) en la que te proporcionamos toda la información necesaria para resolver tus inquietudes sobre el
        trámite, tanto en general como en tu caso particular.
      </p>
      <p class="subtitle">Dándote referencias y un paso a paso para que sepas cómo continuar.</p>
      <p class="subtitle">Información Integral</p>
      <p class="subtitle">
        Te brindamos detalles sobre el proceso de armado de carpeta y casos particulares, así como información sobre el estilo de vida en Italia, en
        caso de que tu idea sea emigrar.
      </p>
      <p class="subtitle">Podemos guiarte desde el principio y asegurarte un proceso claro y eficiente.</p>
      <p class="subtitle">Asesoría Full: 1:30hs.</p>
      <p class="subtitle">Asesoría Smart: 1:00hs.</p>
    </div>
    <div class="col-12 container-data background-light" #apostille id="apostille">
      <p class="title">SERVICIO DE APOSTILLAS</p>
      <p class="subtitle">¿Necesitas apostillar documentos argentinos, para darle validez internacional a tus documentos?</p>
      <p class="subtitle">Nosotros nos encargamos de apostillar en 10 días hábiles, 72hs y 48hs.</p>
    </div>
    <div class="col-12 container-data" #proceedings id="proceedings">
      <p class="title">ACTUALIZACIÓN DE EXPEDIENTE</p>
      <p class="subtitle">
        ¿Contas con la carpeta armada pero los documentos ya tienen varios años y queres actualizarlos para la presentación? Lo hacemos por vos,
        dejando todo listo y en perfectas condiciones para que puedas avanzar con tu trámite.
      </p>
    </div>
    <div class="col-12 container-data background-light" #control id="control">
      <p class="title">CONTROL DE CARPETA</p>
      <p class="subtitle">
        ¿Armaste tu legajo por tu cuenta y queres asegurarte de que cumple con todos los requisitos necesarios para la presentación?
      </p>
      <p class="subtitle">
        Ofrecemos un servicio de control riguroso de todos tus documentos para garantizar que cumplen con los requisitos solicitados por el consulado
        o la comuna italiana. Además, te orientamos sobre los pasos a seguir en caso de detectar posibles errores, asegurándote un proceso sin
        contratiempos.
      </p>
    </div>
  </div>
</div>
<app-contact></app-contact>
<app-footer></app-footer>
