.header {
  background: url('/assets/images/servicios1.png');
  background-size: cover;
  height: 500px;
}

.header-link {
  padding-top: 20px;
  font-size: 25px;
}

// .title {
//   color: #e74629;
// }

.container-data {
  padding-top: 20px;
  padding-bottom: 20px;
}

.consider {
  b {
    text-decoration: underline !important;
  }
  .subtitle {
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
  }
}
