.navbar {
  .nav-link {
    // color: #ffff !important;
    color: #e74629 !important;
    font-size: 25px;
    cursor: pointer;
  }
  // background-color: #110f09 !important;
}

@media (min-width: 767px) {
  .navbar-expand-lg .navbar-nav {
    justify-content: space-evenly;
  }
}

.navbar-toggler {
  background-color: #dad7cd;
}
