.container {
  padding-top: 80px;
}
.logo {
  width: 15%;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .logo {
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
