<div class="section-container">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
        <img class="img-pass" src="./assets/images/pasaporte.png" alt="pasaporte" />
      </div>
      <div class="col-12 col-md-6 subtitle">
        <p class="title text-center">¿PORQUE TORINO?</p>
        <p>
          Si estás evaluando a qué comuna italiana emigrar para obtener tu ciudadanía, te contamos que Torino es una de las
          principales ciudades de Italia elegida por jóvenes y familias de todo el mundo.
        </p>
        <p><b>¿Por qué elegir Torino?</b></p>
        <ul>
          <li>
            Eventos y Festivales Gratuitos: Disfrutá de una amplia variedad de actividades culturales y de entretenimiento sin
            costo.
          </li>
          <li>Parques y Naturaleza: Abundan los espacios verdes, el río y la música al aire libre.</li>
          <li>Museos: Más de 19 museos con una gran oferta cultural y artística.</li>
          <li>Educación: Hogar de grandes universidades y politécnicos de renombre.</li>
          <li>Transporte: Cuenta con un aeropuerto que facilita los viajes.</li>
          <li>Vida Nocturna: Desde fiestas de cachengue hasta eventos electrónicos.</li>
          <li>Oportunidades Laborales: Oferta laboral disponible incluso solo con ricevuta di permesso di soggiorno.</li>
          <li>Atención Sanitaria: Excelente sistema de salud.</li>
          <li>Deportes: Fútbol y otros deportes para los fanáticos.</li>
          <li>Ubicación Ideal: Montaña a 1 hora y el mar a 3 horas, perfecto para escapadas de fin de semana.</li>
        </ul>
        <p>
          Torino combina cultura, naturaleza, educación y entretenimiento, ofreciendo oportunidades reales y accesibles, para una
          mejor calidad de vida.
        </p>
      </div>
    </div>
  </div>
</div>
