/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body,
html,
div {
  font-family: 'my_GlacialIndifference_font';
  font-size: 20px;
  color: #284f2b;
}
body {
  background-color: #dad7cd;
}

b {
  font-weight: 800;
}

.title {
  color: #e74629;
  font-weight: 700;
  font-size: 30px;
  font-family: 'my_BergenSans_font';
}

.subtitle {
  text-align: justify;
  text-justify: inter-word;
}

.pointer {
  cursor: pointer;
}

.red {
  color: #e74629;
}

.container-direct-access {
  position: fixed;
  bottom: 0;
  right: 0;
}
