/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body,
html,
div {
  font-family: 'my_GlacialIndifference_font';
}
.title {
  font-size: 30px;
  font-family: 'my_BergenSans_font';
}

.subtitle {
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
}

.pointer {
  cursor: pointer;
}

body {
  color: #ffff;
  background-color: #110f09;
}
