<div class="section-container">
  <div class="container py-5">
    <div class="row">
      <div class="col-6 subtitle">
        <p class="title text-center">SOBRE NOSOTROS</p>
        <p>Somos un equipo de jóvenes profesionales que trabajamos conjuntamente en Italia y Argentina.</p>
        <p>
          Esta colaboración nos permite ofrecer una amplia gama de servicios, desde la preparación de documentación en Argentina hasta la obtención
          del reconocimiento de ciudadanía en Italia.
        </p>
        <p>
          Nos motiva la alegría de crear espacios creativos donde la empatía, el respeto por la diversidad y el deseo de sentirnos acompañados durante
          este proceso sean el motor principal.
        </p>
        <p>
          Llevamos más de 3 años dedicándonos a brindar asesoramiento detallado sobre la ciudad de Torino y sus alrededores, así como acompañamiento
          integral durante el proceso de obtención de ciudadanía.
        </p>
        <p>Entendemos que cada familia tiene su propia historia, por eso amamos lo que hacemos.</p>
        <p>Tu historia es nuestra inspiración, y juntos, movemos raíces y cumplimos sueños.</p>
        <p>
          Si estás buscando un servicio personalizado y profesional, que valore la importancia de reconstruir historias familiares y el trabajo en
          equipo, este es tu lugar. ¡Bienvenidx!
        </p>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <img class="pass" src="./assets/images/hands1.png" alt="pasaporte" />
      </div>
    </div>
  </div>
</div>
