<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <p class="title text-center">SOBRE NOSOTROS</p>
      <div class="subtitle">
        <p>Somos un equipo de jóvenes profesionales que trabajamos conjuntamente en Italia y Argentina.</p>
        <p>
          Esta colaboración nos permite ofrecer una amplia gama de servicios, desde la preparación de documentación en Argentina
          hasta la obtención del reconocimiento de ciudadanía en Italia.
        </p>
        <p>
          Nos motiva la alegría de crear espacios donde la empatía, el respeto por la diversidad y el deseo de que te sientas
          acompañado durante esta experiencia, sean el motor principal.
        </p>
        <p>Tu historia es nuestra inspiración, y juntos movemos tus raíces para cumplir sueños.</p>
        <p>
          Si estás buscando un servicio personalizado y profesional, que valore la importancia de reconstruir historias familiares
          y el trabajo en equipo, este es tu lugar. ¡Bienvenidx!
        </p>
      </div>
    </div>
  </div>
</div>
